USE [master]
GO
/****** Object:  Database [CYOATest]    Script Date: 5/16/2019 4:21:43 PM ******/
CREATE DATABASE [CYOATest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CYOATest', FILENAME = N'C:\Users\FAZZARI_A\CYOATest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CYOATest_log', FILENAME = N'C:\Users\FAZZARI_A\CYOATest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CYOATest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CYOATest]
GO
USE [CYOATest]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 5/16/2019 4:21:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[StoryID] [int] NOT NULL,
 CONSTRAINT [PK_Stories] PRIMARY KEY CLUSTERED 
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StoryDecisions]    Script Date: 5/16/2019 4:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StoryDecisions](
	[DecisionTextID] [int] NOT NULL,
	[Text] [varchar](2000) NULL,
	[NextStoryTextID] [int] NOT NULL,
	[PrevStoryTextID] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StoryTexts]    Script Date: 5/16/2019 4:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StoryTexts](
	[StoryTextID] [int] NOT NULL,
	[StoryID] [int] NOT NULL,
	[Text] [varchar](8000) NULL,
 CONSTRAINT [PK_StoryTexts] PRIMARY KEY CLUSTERED 
(
	[StoryTextID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_StoryDecisions]    Script Date: 5/16/2019 4:21:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_StoryDecisions] ON [dbo].[StoryDecisions]
(
	[DecisionTextID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StoryDecisions]  WITH CHECK ADD  CONSTRAINT [FK_StoryDecisions_StoryTexts] FOREIGN KEY([NextStoryTextID])
REFERENCES [dbo].[StoryTexts] ([StoryTextID])
GO
ALTER TABLE [dbo].[StoryDecisions] CHECK CONSTRAINT [FK_StoryDecisions_StoryTexts]
GO
ALTER TABLE [dbo].[StoryDecisions]  WITH CHECK ADD  CONSTRAINT [FK_StoryDecisions_StoryTexts1] FOREIGN KEY([PrevStoryTextID])
REFERENCES [dbo].[StoryTexts] ([StoryTextID])
GO
ALTER TABLE [dbo].[StoryDecisions] CHECK CONSTRAINT [FK_StoryDecisions_StoryTexts1]
GO
USE [master]
GO
